# Level 3

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Dataset .csv')

# Task 1 : Restaurant Reviews

In [3]:
#  Analyze the text reviews to identify the most common positive and negative keywords.

In [4]:
df.head()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229

In [14]:
rating_counts = df['Rating text'].value_counts()

In [18]:
[rating_counts]

[Rating text
 Average      3737
 Not rated    2148
 Good         2100
 Very Good    1079
 Excellent     301
 Poor          186
 Name: count, dtype: int64]

In [19]:
#  Calculate the average length of reviews and explore if there is a relationship between review length and rating

# Task 2 : Votes Analysis

In [20]:
#  Identify the restaurants with the highest and lowest number of votes.

In [21]:
df.head()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229

In [39]:
ans = df.groupby('Restaurant Name')['Votes'].idxmax()

In [41]:
ans.nlargest(1)

Restaurant Name
Walter's Coffee Roastery    9550
Name: Votes, dtype: int64

In [44]:
ans.nsmallest(1)

Restaurant Name
Le Petit Souffle    0
Name: Votes, dtype: int64

In [45]:
#  Analyze if there is a correlation between the number of votes and the rating of a restaurant

In [48]:
correlation = df[['Aggregate rating','Votes']].corr().iloc[0,1]

In [49]:
correlation

0.3136905841954099

In [50]:
""" 0.3136905841954099 indicates a moderate positive correlation between the number of votes and the aggregate rating of restaurants.
Positive Correlation: As the number of votes increases, the aggregate rating tends to increase as well.
"""

' 0.3136905841954099 indicates a moderate positive correlation between the number of votes and the aggregate rating of restaurants.\nPositive Correlation: As the number of votes increases, the aggregate rating tends to increase as well.\n'

#  Task 3 : Price Range vs. Online Delivery and Table Booking

In [51]:
# Analyze if there is a relationship between the price range and the availability of online delivery and table booking.

In [53]:
df['Has Online delivery'] = df['Has Online delivery'].map({'Yes': 1, 'No': 0})
df['Has Table booking'] = df['Has Table booking'].map({'Yes': 1, 'No': 0})

In [56]:
correlation_price_online = df[['Price range', 'Has Online delivery']].corr().iloc[0, 1]

correlation_price_booking = df[['Price range', 'Has Table booking']].corr().iloc[0, 1]

print(f'Correlation between Price range and Online delivery: {correlation_price_online}')
print(f'Correlation between Price range and Table booking: {correlation_price_booking}')

Correlation between Price range and Online delivery: 0.07791776880448663
Correlation between Price range and Table booking: 0.5019247250371407

In [57]:
cross_tab_online = pd.crosstab(df['Price range'], df['Has Online delivery'])

cross_tab_booking = pd.crosstab(df['Price range'], df['Has Table booking'])

print(cross_tab_online)
print(cross_tab_booking)

Has Online delivery     0     1
Price range
1                    3743   701
2                    1827  1286
3                     997   411
4                     533    53
Has Table booking     0    1
Price range
1                  4443    1
2                  2874  239
3                   764  644
4                   312  274

In [58]:
#  Determine if higher-priced restaurants are more likely to offer these services.

In [59]:
correlation_price_online = df[['Price range', 'Has Online delivery']].corr().iloc[0, 1]

correlation_price_booking = df[['Price range', 'Has Table booking']].corr().iloc[0, 1]

print(f'Correlation between Price range and Online delivery: {correlation_price_online}')
print(f'Correlation between Price range and Table booking: {correlation_price_booking}')

Correlation between Price range and Online delivery: 0.07791776880448663
Correlation between Price range and Table booking: 0.5019247250371407

In [60]:
cross_tab_online = pd.crosstab(df['Price range'], df['Has Online delivery'])

cross_tab_booking = pd.crosstab(df['Price range'], df['Has Table booking'])

print(cross_tab_online)
print(cross_tab_booking)

Has Online delivery     0     1
Price range
1                    3743   701
2                    1827  1286
3                     997   411
4                     533    53
Has Table booking     0    1
Price range
1                  4443    1
2                  2874  239
3                   764  644
4                   312  274